<!DOCTYPE html>
<html lang="{{ site.locale|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ site.name|default('Sculpin Skeleton') }}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
